[defaults]
inventory = ./inventory/hana_nodes.ini
roles_path = ./roles/
retry_files_enabled = false
host_key_checking = false
timeout = 30
validate_role_argument_spec = false

[inventory]
enable_plugins = host_list, yaml, ini

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no
pipelining = true
