---
####################################################################
# Hitachi Storage Provisioning Playbooks for SAP HANA
# Author: Hitachi Vantara SAP Engineering Team
# Version: v1.0
# Date: November 2025
#
# Summary: Deletes a specific Parity Group by ID.
####################################################################

######################################################################################
# Parity Group Playbook
######################################################################################
- name: Parity Group Module
  hosts: localhost
  gather_facts: false

  vars_files:
    - ~/playbooks/ansible_vault_vars/ansible_vault_storage_var.yml
    - vsp_direct_variables_delete.yml

  vars:
    # Common connection info for all tasks
    connection_info:
      address: "{{ storage_address }}"
      username: "{{ vault_storage_username }}"
      password: "{{ vault_storage_secret }}"

  tasks:
    ####################################################################
    # Task Name : Delete Parity Group
    ####################################################################
    - name: Delete Parity Group "{{ parity_group_id }}"
      hitachivantara.vspone_block.vsp.hv_paritygroup:
        connection_info: "{{ connection_info }}"
        state: "absent"
        spec:
          parity_group_id: "{{ parity_group_id }}"
      register: pg_delete_result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: pg_delete_result

