---
####################################################################
# Hitachi Storage Provisioning Playbooks for SAP HANA
# Author: Hitachi Vantara SAP Engineering Team
# Version: v1.0
# Date: November 2025
#
# Summary: Retrieves volume facts for a specific DDP pool by name
# using the VSP One API, displaying a summary of LDEV IDs, names,
# sizes, and connection counts.
####################################################################

####################################################################
# VSP One Volume facts Playbook
####################################################################
- name: VSP One Volume facts Module
  hosts: localhost
  gather_facts: false

  vars_files:
    - ~/playbooks/ansible_vault_vars/ansible_vault_storage_var.yml
    - vsp_direct_variables_facts.yml

  vars:
    # Common connection info for all tasks
    connection_info:
      address: "{{ storage_address }}"
      username: "{{ vault_storage_username }}"
      password: "{{ vault_storage_secret }}"

  tasks:
    ####################################################################
    # Task Name : Get facts for volumes in a specific pool by pool_name
    ####################################################################
    - name: Get facts for volumes in a specific DDP pool {{ ddp_pool_name }} in Storage {{ storage_address }}
      hitachivantara.vspone_block.vsp.hv_vsp_one_volume_facts:
        connection_info: "{{ connection_info }}"
        spec:
          pool_name: "{{ ddp_pool_name }}"
            #pool_id: 0
      register: result

    - name: Summary of LDEV ID, Volume Name, Size and Connected server in DDP pool {{ ddp_pool_name }}
      ansible.builtin.debug:
        msg: "LDEV_ID: {{ item.id }}, Volume_Name: {{ item.nickname }}, Size_MB: {{ item.total_capacity_in_mb }}, Connected_Server: {{ item.number_of_connecting_servers }}"
      loop: "{{ result.ansible_facts.volumes }}"
      loop_control:
        label: "{{ item.nickname }}"        


          #- name: Debug the result variable
      #ansible.builtin.debug:
        # var: result

